extend ./component/layout

block content

    div(id='react-grid')

    include component/mainbuttons

    include component/codefield
        block code 
            pre
                code(data-gist-id="d8df35c2acf861014299")