extend ./component/layout

block content

    div(class='main-text')
        span If you're using React (and you should be), and you're using Redux, then this is the last grid you'll ever need

        span React-Redux-Grid is a grid component designed with scalability in mind. The core component comes with a big list of features, but it makes no assumptions about how the grid should work. The store, reducers, and core components can all be swapped out entirely.

        span Feature Set:

        ul
            li 1. Local and/or Remote Data Source
            li 2. Local and/or Remote Pagination
            li 3. Extensive and extendable Column Definitions
            li 4. Draggable Column Width/Resizing
            li 5. Draggable Column Ordering
            li 5. Sortable Columns
            li 6. Grid Action Menus
            li 7. Bulk Action Toolbar
            li 8. Selection Model (Single, MultiSelect, Checkbox)
            li 9. Event Handling for all kinds of DOM Events (List Below)
            li 10. Extendable and Modular Style Built with JavaScript
            li 11. Loading Mask
            li 12. Built-in Error Handling Module
    
    include component/mainbuttons
