extend ./component/layout

block content

    div(id='react-grid')

    include component/mainbuttons

    include component/codefield
        block code 
            pre
                code(data-gist-id="d9967af4e300c9b1ca53")