+prefix-classes($prefix)
  .navigation
    min-width 200px
    
    ul
      border-bottom 1px solid $color
      border-top 1px solid $color
      list-style-type none
      margin-top 11px
      padding-left 20px
      
      li:hover
        opacity .6

  .nav-link
    cursor pointer
    display block
