.react-grid-page-buttons, .react-grid-button-container button
    font icon !important;
        
.react-grid-editor-wrapper input
    color initial
    line-height initial
    
.table-responsive
    margin-top -20px
    
.hidden-override thead
    $hidden()
    tr
        $hidden()
        th
            $hidden()
            input, span
                $hidden()