link(rel='stylesheet', href='/min/style/main.css')
link(href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css')
link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css')

script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gist-embed/2.4/gist-embed.min.js")

if env == 'dev'
    script(src='http://localhost:8080/demo/lib/bundle.js')
if env !== 'dev'
    script(src='/dev/demo/lib/bundle.js')

body
    block content