//- script(src='http://localhost:8080/demo/lib/bundle.js')
link(rel='stylesheet', href='/min/style/main.css')
link(href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css')
script(src='/dev/demo/lib/bundle.js')

body
    div(class='container center')
        include header
        block content