div
    div(class='main-button')
        a(href='/simple') simple grid
    div(class='main-button')
        a(href='/complex') complex grid
    div(class='main-button')
        a(href='http://github.com/bencripps/react-redux-grid') github
