.page-header {

    background-color: $color-darkest;
    color: $color-white;
    font-family: $font-family;
    font-size: $header-font-size;
    font-weight: normal;
    padding: 10px 5px;
    letter-spacing: 2px;
    margin: 20px;
    @include border-radius();
    @include box-shadow();

}
