.main-text {

    margin: 0px auto;
    width: 80%;
    font-family: $font-family;


    span {
        padding: 30px 0px;
        display: inline-block;
        font-size: $main-font-size;
        text-align: left;
        width: 100%;
    }

    span:first-child {
        font-size: $main-text-font-size;
    }

    span:nth-child(2) {
        margin: initial;
    }

    ul {
        list-style: none;
        text-align: left;
        li {
            padding: 3px 0px;
        }
    }

}