@font-face {
    font-family: 'Open Sans';
    src: url(/min/font/OpenSans-Light.tff);
}

$prefix = 'rgd-'
$font-family = 'Open Sans', sans-serif
$color = rgb(72, 72, 72)


@import 'components/app-container'
@import 'components/grid-container'
@import 'components/navigation'