/* eslint-disable */
.simpleContainer {
  display: block;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
}

/* override React-Redux-Grid library */
.react-grid-pager-toolbar {
  height: 40px !important;
  padding: 5px !important;

}

.react-grid-header-fixed-container th {
  padding-left: 10px !important;
  background: transparent !important;
  overflow: visible !important;
}

.react-grid-pager-toolbar span {
  font-size: 12px !important;
  color: #666;
}

/* override Bootstrap library */
.bootstrap-description {
  height: 30px !important;
  margin: 5px !important;
}

.bootstrap-description span {
  font-size: 12px !important;
  color: #666;
}

.bootstrap-description button {
  margin-right: 10px;
}

.table-responsive thead  {
  display: none !important;
}

input[type="text"] {
  color: #000;
  height: 20px;
  border-radius: 5px;
  border-width: 0px;
  width: 100%;
  padding-left: 5px;
  background-color: #f9f9f9;
}

.react-grid-edit {
  background-color: #e4e4e4 !important;
}

.react-grid-button-container {
  background-color: #e4e4e4 !important;
  padding: 5px !important;
}

.react-grid-cancel-button {
  margin-right: 5px;
  font-size: 12px;
  font-weight: bold;
}

.react-grid-save-button {
  font-size: 12px;
  font-weight: bold;
  background-color: #663399 !important;
}

.react-grid-sort-handle {
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding-left: 5px;
}

th {
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

button.react-redux-grid-active, button.react-redux-grid-inactive {
  border: none !important;
}
